{% extends 'account/base.html' %}

{% block title %}{{course.course}}{% endblock %}

{% block content %}

<form method="post"   enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    {% comment %} {{course.category}} <br>
    <label for="">Course:
    {{ form.course }}
    </label> <br>
    <label>Proof of Payment:
    {{ form.proof_of_payment }}
    {{form.price}}
    {{form.email}}
    {{form.status}}
    {{form.category}}
    </label> <br> <br> {% endcomment %}
    <button>Submit</button>
</form>
{{course.course}}
{{course.price}}
{{user.email}}
{% endblock %}