{% extends 'account/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white btn btn-secondary" href="/home">Goto back</a>

    </div>
</nav>

<div class="container-fluid">
    {% for category in categories %}
    <table class="table table-striped">
        <thead>
            <tr class="border-bottom-0">
                <th scope="col" colspan="1">{{category.name}}</th>
                <th scope="col" colspan="1"></th>
                <th scope="col" colspan="1"></th>
            </tr>
        </thead>
        {% for course in category.courses.all %}
        <tbody>
            <tr>
                <td style="width: 900px;">{{course.course}}</td>
                <td style="width:300px">{{course.duration}}</td>
                <td><a href="{% url 'course:register_batch' course.id %}" class="btn text-primary">Get</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endfor %}
</div>

{% endblock %}