{% extends 'account/base.html' %}

{% block content %}
<div class="w-100" style="height:70px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
        <div class="container-fluid d-flex justify-content-end">
        <a class="navbar-brand text-white" href="{% url 'home'%}">back</a>
        </div>
    </nav>
</div>
<div class="w-100 row justify-content-center ">

    <div class="col-8 border p-0 m-0">

    <div class="w-100  bg-dark p-3 ">
        <h4 class="text-white">List of Enrollees per batch</h4>
    </div>

    {% for course_batch_name, batch_courses in course_batch_dict.items %}
    <div class="p-3 border-bottom">

        <p class="fw-bold">{{course_batch_name}}</p>
        {% for batch_course in batch_courses %}
        {% if forloop.first %}
        <li>batch ID: {{ batch_course.id }}</li>
        <li>{{ batch_course.start_date }} - {{ batch_course.end_date }}</li>
        <ul>
            {% for participant in batch_course.participants.all %}
                <li>{{ participant }}</li>
            {% endfor %}
        {% endif %}

        {% if forloop.last %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}    
    {% endfor %}
    </div>
</div>

{% endblock %}
